/*
Name: Emma Wilby
Assignment: Restaurant Site
Date Created: 06/12/20
Most recent revision: 16/12/20
Date Submitted: 16/12/20
*/



/* Global Styles */
html {
  height: 100%;
}
body {
  font-family: arial, sans-serif;
  background-color: #f2f4f3;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', arial, sans-serif;
}

header {
  font-family: 'Nerko One', arial, sans-serif;
  background-color: #d8d174 !important;
  text-align: center;
  color: #362417;
  max-height: 100px;
  padding: 20px 0px 20px 0px;
}


h1 {
    font-size: 50px;
}

nav {
  background-color: #e6d3a3;
  padding-top: 15px;
  margin-bottom: 10px;
  border-top: 1px solid #362417;
  border-bottom: 1px solid #362417;
}

nav .btn {
  margin-right: 10px;
}

nav noscript {
  color: white;
  font-weight: normal;
}

.btn:hover noscript {
  color: #362417;
}

.nav-pills .active a {
  background-color: #91972a;
}

.btn {
  background-color: #b6c454;
  color: #362417;
}

.btn:hover {
  background-color: #91972a;
  color: white;
}

.btn:active {
  font-weight: bold;
}

.jumbotron {
  font-size: 40px;
  background-color: #ffe1a6;
  border: 3px solid #fcc24c;
}

noscript {
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

footer {
  background-color: #d8d174;
  border-top: 1px solid #362417;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0px;
}



/* Homepage styles */
#about {
  margin: auto;
  max-width: 400px;
}

#review a {
  color: #69472e;
  text-decoration: underline;
}

#review a:visited {
  color: #362417 !important;
  text-decoration: underline;
}

#review a:hover {
  font-weight: bold;
}

#review a:active {
  text-decoration: none;
}



/* Carousel styles */

#carousel {
  max-width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

.carousel-caption {
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
}


/* Menu styles */

#menu-section{
    border-radius: 10px;
    border: 3px solid #fcc24c;
    margin: auto;
    text-align: center;
    background-color: #ffe1a6;
}

#menu,
#beverages {
    padding: 20px;
}

#menu strong {
  font-size: 1.2em;
}

#beverages {
  border-top: 1px dashed #362417;
}

#beverages caption {
  caption-side: top;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  text-align: center;
}

#beverages table td {
  padding: 15px 30px 15px 30px;
}

#beverages table tr:nth-child(even){
  background-color: #e0c180;
}

#beverages table tr:nth-child(odd){
  background-color: #d4ad5d;
}
