body {
  font-family: arial, sans-serif;
  background-color: darkgrey;
}

header {
  font-family: 'Nerko One', arial, sans-serif;
  background-color: grey !important;
  text-align: center;
}

nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
  padding-right: 10px;
}


#review a {
  color: green;
  text-decoration: underline;
}

#review a:visited {
  color: darkgreen;
  text-decoration: underline;
}

#review a:hover {
  font-weight: bold;
}

#review a:active {
  text-decoration: none;
}

header h1,
footer p {
  text-align: center;
}

section#index {
  margin: auto;
  width: 400px;
}



/* menu */
section #menu,
section #beverages {
    margin: auto;
    text-align: center;
    background-color: lightblue;
    padding: 20px;
}

section #menu strong {
  font-size: 1.2em;
}

#beverages {
  margin-top: 20px;
  border-top: 1px dashed blue;
  padding-top: 10px;
}
#beverages caption {
  caption-side: top;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  text-align: center;
}




/* contact form */

form {
  max-width: 33%;
  margin: auto;
}

form > div > label {
  font-weight: bold;
}
fieldset {
  border: none;
}
