nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
  padding-right: 20px;
}

header h1,
footer p {
  text-align: center;
}

section table{
    margin: auto;
}

section#index {
  margin: auto;
  width: 400px;
}

table p,
table h3 {
  text-align: center;
}

fieldset {
  border: none;
}
/* from internet */
label {
    grid-column: 1 / 2;
}

input,
button,
select,
textarea {
    grid-column: 2 / 3;
    max-width: 400px;
}

form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
}

form label {
  text-align: right;
}
